Repository Tdrj2716/task_tracking: changes, and which lefthook commands are due for each by the changed paths.
All: backend-ruff, backend-black, backend-mypy, frontend-eslint, frontend-prettier

backend-ruff:
  run: cd backend && uv run ruff check {staged_files}

backend-black:
  run: cd backend && uv run black --check {staged_files}

backend-mypy:
  run: cd backend && uv run mypy {staged_files}

frontend-eslint:
  run: cd frontend && pnpm eslint {staged_files}

frontend-prettier:
  run: cd frontend && pnpm prettier --check {staged_files}

add: django backend and postgre sql settings
  backend/.env.example
  backend/api/__init__.py
  backend/api/admin.py
  backend/api/apps.py
  backend/api/migrations/__init__.py
  backend/api/models.py
  backend/api/tests.py
  backend/api/views.py
  backend/config/__init__.py
  backend/config/asgi.py
  backend/config/settings.py
  backend/config/urls.py
  backend/config/wsgi.py
  backend/manage.py
  backend/pyproject.toml
  backend/uv.lock
  lefthook.yml
Due: backend-ruff, backend-black, backend-mypy

fix lefthook setting by deleting cd command and adding --config
  lefthook.yml
Due: none

add: DRF
  backend/api/urls.py
  backend/api/views.py
  backend/config/settings.py
  backend/config/urls.py
Due: backend-ruff, backend-black, backend-mypy

add models: User, Project, Tag, Task
  .kiro/specs/task-time-tracking/tasks.md
  backend/api/admin.py
  backend/api/migrations/0001_initial.py
  backend/api/migrations/0002_alter_project_color_alter_task_parent_and_more.py
  backend/api/models.py
Due: backend-ruff, backend-black, backend-mypy

refactor: enhance Task model to support hierarchical structure with level and root fields
  .kiro/specs/task-time-tracking/tasks.md
  backend/api/admin.py
  backend/api/migrations/0003_remove_task_hierarchy_task_level_task_root_and_more.py
  backend/api/models.py
Due: backend-ruff, backend-black, backend-mypy

add: Time Entry modeland modify Task
  .kiro/specs/task-time-tracking/tasks.md
  backend/api/admin.py
  backend/api/migrations/0004_timeentry.py
  backend/api/migrations/0005_timeentry_project.py
  backend/api/migrations/0006_alter_timeentry_end_time.py
  backend/api/migrations/0007_alter_timeentry_duration_seconds.py
  backend/api/migrations/0008_task_description_timeentry_name.py
  backend/api/models.py
  backend/test_timeentry.py
Due: backend-ruff, backend-black, backend-mypy

add: Google OAuth
  backend/config/settings.py
  backend/config/urls.py
  backend/pyproject.toml
  backend/uv.lock
Due: backend-ruff, backend-black, backend-mypy

add: DRF authorization
  backend/api/permissions.py
  backend/api/views.py
  backend/config/settings.py
  backend/config/urls.py
Due: backend-ruff, backend-black, backend-mypy

fix: lefthook setting
  lefthook.yml
Due: none

add: backend test
  .kiro/specs/task-time-tracking/design.md
  .kiro/specs/task-time-tracking/requirements.md
  .kiro/specs/task-time-tracking/tasks.md
  backend/api/migrations/0009_alter_task_project.py
  backend/api/models.py
  backend/api/tests.py
  backend/config/settings.py
Due: backend-ruff, backend-black, backend-mypy

remove unused test
  backend/test_timeentry.py
Due: none

add: frontend
  .gitignore
  .kiro/specs/task-time-tracking/tasks.md
  .vscode/settings.json
  frontend/.env.example
  frontend/.gitignore
  frontend/.prettierignore
  frontend/.prettierrc
  frontend/README.md
  frontend/eslint.config.js
  frontend/index.html
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/assets/react.svg
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/tailwind.config.js
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
  lefthook.yml
Due: frontend-eslint, frontend-prettier

add: storybook
  .kiro/specs/task-time-tracking/tasks.md
  frontend/.gitignore
  frontend/.storybook/main.ts
  frontend/.storybook/preview.ts
  frontend/eslint.config.js
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/Button.stories.tsx
  frontend/src/components/Button.tsx
Due: frontend-eslint, frontend-prettier

implement: Axios API client
  .kiro/specs/task-time-tracking/tasks.md
  frontend/src/App.tsx
  frontend/src/services/apiClient.ts
Due: frontend-eslint, frontend-prettier

refactor: update lefthook configuration for frontend linting to use ESLint
  lefthook.yml
Due: none

feat: add estimate_minutes and duration_seconds fields to Task model for improved time tracking
  .kiro/specs/task-time-tracking/design.md
  .kiro/specs/task-time-tracking/tasks.md
  backend/api/admin.py
  backend/api/migrations/0010_task_duration_seconds_task_estimate_minutes.py
  backend/api/models.py
  backend/api/tests.py
Due: backend-ruff, backend-black, backend-mypy

refactor: update Django Allauth configuration
  backend/config/settings.py
Due: backend-ruff, backend-black, backend-mypy

implement: Project Viewset and serializer
  backend/api/serializers.py
  backend/api/urls.py
  backend/api/views.py
Due: backend-ruff, backend-black, backend-mypy

add: API test and Postman collection
  backend/pyproject.toml
  backend/tests/README.md
  backend/tests/__init__.py
  backend/tests/api/__init__.py
  backend/tests/api/get_auth_token.py
  backend/tests/api/postman/.gitignore
  backend/tests/api/postman/README.md
  backend/tests/api/postman/Task_Tracking_API.postman_collection.json
  backend/tests/api/postman/local.postman_environment.example.json
  backend/tests/api/test_postman.py
  backend/tests/unit/__init__.py
  backend/tests/unit/test_models.py
  backend/uv.lock
Due: backend-ruff, backend-black, backend-mypy

modify: TypeScript linting rules for type imports
  frontend/eslint.config.js
Due: none

implement: zustand stores
  .kiro/specs/task-time-tracking/tasks.md
  frontend/src/stores/authStore.ts
  frontend/src/stores/createCrudStore.ts
  frontend/src/stores/projectStore.ts
  frontend/src/stores/tagStore.ts
  frontend/src/stores/taskStore.ts
  frontend/src/stores/timeEntryStore.ts
  frontend/src/stores/timerStore.ts
  frontend/src/types/index.ts
Due: frontend-eslint, frontend-prettier

implement: testing frontend
  .kiro/specs/task-time-tracking/tasks.md
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/stores/__tests__/authStore.test.ts
  frontend/src/stores/__tests__/taskStore.test.ts
  frontend/src/stores/__tests__/timeEntryStore.test.ts
  frontend/src/stores/__tests__/timerStore.test.ts
  frontend/src/test/mocks/handlers.ts
  frontend/src/test/mocks/server.ts
  frontend/src/test/setup.ts
  frontend/vitest.config.ts
Due: frontend-eslint, frontend-prettier

implement: Tag Viewset and serializer
  .kiro/specs/task-time-tracking/design.md
  .kiro/specs/task-time-tracking/tasks.md
  backend/api/serializers.py
  backend/api/urls.py
  backend/api/views.py
  backend/tests/api/postman/Task_Tracking_API.postman_collection.json
  backend/tests/api/postman/local.postman_environment.example.json
  backend/tests/api/test_postman.py
Due: backend-ruff, backend-black, backend-mypy

implement: Task Viewset and serializer
  .kiro/specs/task-time-tracking/tasks.md
  backend/api/serializers.py
  backend/api/urls.py
  backend/api/views.py
  backend/config/settings.py
  backend/pyproject.toml
  backend/tests/api/postman/Task_Tracking_API.postman_collection.json
  backend/tests/api/postman/local.postman_environment.example.json
  backend/tests/api/test_postman.py
  backend/uv.lock
Due: backend-ruff, backend-black, backend-mypy

Path conditions:
  backend-ruff: any of: backend/**/*.py
  backend-black: any of: backend/**/*.py
  backend-mypy: any of: backend/**/*.py
  frontend-eslint: any of: frontend/**/*.{ts,tsx,js,jsx}
  frontend-prettier: any of: frontend/**/*.{ts,tsx,js,jsx,json,css,md}
